
<%- include('partials/head') %>
<!-- Begin page -->
<div id="wrapper">
    <!-- ========== Top Sidebar Start ========== -->
    <%- include('partials/top_nav') %>
    <!-- ========== Top Sidebar End ========== -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('partials/left_nav') %>
    <!-- ========== Left Sidebar End ========== -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-custom" data-plugin="counterup">6599</h2>
                                <h5>Statistics</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-pink" data-plugin="counterup">5894</h2>
                                <h5>Total Revenue</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-warning" data-plugin="counterup">452</h2>
                                <h5>Sales Analytics</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-info" data-plugin="counterup">1254</h2>
                                <h5>Daily Sales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->

        <%- include('partials/foot_right')%>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <%- include('partials/noitification')%>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->
<%- include('partials/foot') %>
