
<%- include('partials/head') %>
<!-- Begin page -->
<div id="wrapper">
    <!-- ========== Top Sidebar Start ========== -->
    <%- include('partials/top_nav') %>
    <!-- ========== Top Sidebar End ========== -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('partials/left_nav') %>
    <!-- ========== Left Sidebar End ========== -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-box task-detail">
                            <div class="dropdown pull-right">
                                
                            </div>
                            <div class="media m-b-20">
                                <div class="media-left">
                                    <a href="#"> <img class="media-object img-circle" alt="64x64" src="/assets/images/users/avatar-2.jpg" style="width: 48px; height: 48px;"> </a>
                                </div>
                                <div class="media-body">

                                    <h4 class="media-heading m-b-0"><%= crteatedByName %></h4>
                                    <span class="label label-danger">Urgent</span>
                                </div>
                            </div>

                            <h4 class="font-600 m-b-20"><%= activity[0].title %></h4>

                            <p class="text-muted">
                                <%= activity[0].description %>
                            </p>

                            <ul class="list-inline task-dates m-b-0 m-t-20">
                                <li>
                                    <h5 class="font-600 m-b-5">Start Date</h5>
                                    <p><%= moment(activity[0].start_date).format('LLLL') %></p>
                                </li>

                                <li>
                                    <h5 class="font-600 m-b-5">Due Date</h5>
                                    <p> <%= moment(activity[0].end_date).format('LLLL') %></p>
                                </li>
                            </ul>
                            <div class="clearfix"></div>

                             <div class="task-tags m-t-20">
                                <h5 class="font-600">Tags</h5>
                                <% if(user_id == crteatedById){ %>
                                    <input type="text" value="<%= tags %>" data-role="tagsinput" id="tagsinput" placeholder="add tags"/>
                                <% }else{ %> 
                                    <input type="text" value="<%= tags %>" data-role="tagsinput" readonly />
                                <% } %>
                            </div>

                            <div class="assign-team m-t-30">
                                <h5 class="font-600 m-b-5">Assign to</h5>
                                <div>
                                    <% if(allusers != undefined){ %>
                                        <% if(allusers.length > 0){ %>
                                            <% _.each(allusers, function(v, k) {%>
                                                <% if(taggedUserArray.indexOf(v.user_id) > -1){ %>
                                                    <a href="#"> <img class="img-circle thumb-sm" title="<%= v.xname %>" alt="<%= v.xname %>" src="/assets/images/users/avatar-2.jpg"> </a>
                                                <% }%>
                                            <% }); %>
                                        <% } %>
                                    <% } %>
                                    
                                    
                                    <% if(user_id == crteatedById){ %>
                                        <a href="#" data-toggle="modal" data-target="#con-close-modal"><span class="add-new-plus"><i class="zmdi zmdi-plus"></i> </span></a>
                                    <% } %>
                                </div>

                                <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Work Space User List</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <!-- <%- JSON.stringify(allusers) %> -->
                                                    <% if(allusers != undefined){ %>
                                                        <% if(allusers.length > 0){ %>
                                                            <% _.each(allusers, function(v, k) {%>
                                                                <% if(taggedUserArray.indexOf(v.user_id) > -1){ %>
                                                                    <div class="col-md-12">
                                                                        <a href="#" class="assignClassModal"> <img class="img-circle thumb-sm" alt="64x64" src="/assets/images/users/avatar-2.jpg"> <%= v.xname %> </a>
                                                                        <input class="assign_chck" type="checkbox" data-plugin="switchery" data-uid="<%= v.user_id %> " data-color="#00b19d" data-size="small" checked/>
                                                                    </div>
                                                                <% }else{ %>
                                                                    <div class="col-md-12">
                                                                        <a href="#" class="assignClassModal"> <img class="img-circle thumb-sm" alt="64x64" src="/assets/images/users/avatar-2.jpg"> <%= v.xname %> </a>
                                                                        <input class="assign_chck" type="checkbox" data-plugin="switchery" data-uid="<%= v.user_id %> " data-color="#00b19d" data-size="small"/>
                                                                    </div>
                                                                <% }%>
                                                            <% }); %>
                                                        <% } %>
                                                    <% } %>
                                                    
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-info waves-effect waves-light" onclick="assignMember()">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal -->
                            </div>

                            <div class="attached-files m-t-30">
                                <h5 class="font-600">Attached Files </h5>
                                <div class="files-list">
                                    <!-- <div class="file-box">
                                        <a href=""><img src="/assets/images/attached-files/img-1.jpg" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                        <p class="font-13 m-b-5 text-muted"><small>File one</small></p>
                                    </div>
                                    <div class="file-box">
                                        <a href=""><img src="/assets/images/attached-files/img-2.jpg" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                        <p class="font-13 m-b-5 text-muted"><small>Attached-2</small></p>
                                    </div>
                                    <div class="file-box">
                                        <a href=""><img src="/assets/images/attached-files/img-3.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                        <p class="font-13 m-b-5 text-muted"><small>Dribbble shot</small></p>
                                    </div> -->
                                    <div class="file-box m-l-15">
                                        <div class="fileupload add-new-plus">
                                            <span><i class="zmdi-plus zmdi"></i></span>
                                            <input type="file" class="upload">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-right m-t-30">
                                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                                Save
                                            </button>
                                            <button type="button"
                                                    class="btn btn-default waves-effect">Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="card-box m_chat-box">
                            <h4 class="header-title m-t-0 m-b-30">Comments (6)</h4>

                            <div>
                                <div class="media m-b-10">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle thumb-sm" alt="64x64" src="/assets/images/users/avatar-1.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mat Helme</h4>
                                        <p class="font-13 text-muted m-b-0">
                                            <a href="" class="text-primary">@Michael</a>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio.
                                        </p>
                                        <a href="" class="text-success font-13">Reply</a>
                                    </div>
                                </div>
                                <div class="media m_bot">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle thumb-sm" alt="64x64" src="/assets/images/users/avatar-1.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        <input type="text" class="form-control input-sm" placeholder="Some text value...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
            </div> <!-- container -->
        </div> <!-- content -->

        <%- include('partials/foot_right')%>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <%- include('partials/noitification')%>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->
<%- include('partials/foot') %>


<!-- Datatables-->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/pages/datatables.init.js"></script>

<!-- Plugins css-->
<link href="/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />

<!-- Bootstrap tagsinput -->
<script src="/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

<!-- SOCKET CONNECTION -->
<script src="/javascripts/basic_tm.js"></script>

<!-- end chat -->
<script>
    var user_id = '<%= user_id %>';
    var user_fullname = '<%= user_fullname %>';
    var activity_id = '<%= activity_id %>';
    var preAssing = '<%= taggedUserStr %>';
    var preAssignArr = [];
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
    } );

    if(preAssing != ''){
        $.each(preAssing.split(','),function(k,v){
            if(preAssignArr.indexOf(v) === -1){
                preAssignArr.push(v);
            }
        });
    }

    function assignMember(){
        var assignUlist = [];

        $('.assign_chck').each(function(k,v){
            if($(v).is(':checked')){
                assignUlist.push($(v).attr('data-uid'))
            }    
        });
        
        socket.emit('assignMember', {
            tagged_by: user_id,
            assignlis: assignUlist,
            activity_id:activity_id,
            user_type: '2'
        }, function(response){
            if(response.response.status){
                $('.close').trigger('click');
            }else{
                toastr["error"]("Something wrong!!");
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-top-right"
                };
            }
        });
    }

    $('#tagsinput').on('itemAdded', function(event) {
        console.log(event);
        console.log(event.result);
        console.log(event.item);
        if(event.result != undefined){
            socket.emit('tagSave', {
                tagged_by: user_id,
                tittle: event.item,
                activity_id:activity_id
            }, function(response){
                console.log(response);
            });
        }
        
    });

    $('#tagsinput').on('itemRemoved', function(event) {
        // event.item: contains the item
        console.log(event.item);
    });
</script>

