
<%- include('partials/head') %>
<!-- Begin page -->
<div id="wrapper">
    <!-- ========== Top Sidebar Start ========== -->
    <%- include('partials/top_nav') %>
    <!-- ========== Top Sidebar End ========== -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('partials/left_nav') %>
    <!-- ========== Left Sidebar End ========== -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-box taskboard-box">
                                <h4 class="header-title m-t-0 m-b-30 text-primary">Upcoming</h4>

                                <ul class="list-unstyled task-list" id="upcomingDiv">
                                    <% if(all_activity != undefined){%>
                                        <% if(all_activity.length > 0){ %>
                                            <% _.each(all_activity, function(v, k) {%>
                                                <li>
                                                    <div class="card-box kanban-box">
                                                        <div class="checkbox-wrapper">
                                                            <div class="checkbox checkbox-success checkbox-single">
                                                                <input type="checkbox" id="singleCheckbox2" value="option2"
                                                                       aria-label="Single checkbox Two">
                                                                <label></label>
                                                            </div>
                                                        </div>
        
                                                        <div class="kanban-detail">
                                                            <h4><a href="/taskboard/taskDetail/<%= v.id %>"><%= v.title %></a> </h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% }); %>
                                        <% } %>
                                    <% }else{ %>
                                        <li>
                                            <div class="card-box kanban-box">
                                                
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>

                                <div class="text-center">
                                    <a href="#custom-modal" class="btn btn-default btn-md waves-effect waves-light"
                                       data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                        <i class="zmdi zmdi-plus"></i> Add New
                                    </a>
                                </div>
                            </div>
                        </div><!-- end col -->


                        <div class="col-md-4">
                            <div class="card-box taskboard-box">
                                <h4 class="header-title m-t-0 m-b-30 text-warning">In Progress</h4>

                                <ul class="list-unstyled task-list" id="drag-inprogress">
                                    
                                </ul>
                                <div class="text-center" style="padding: 6px 14px;">&nbsp;</div>

                            </div>
                        </div><!-- end col -->
                        <div class="col-md-4">
                            <div class="card-box taskboard-box">
                                <h4 class="header-title m-t-0 m-b-30 text-success">Completed</h4>
                                <ul class="list-unstyled task-list" id="drag-complete">
                                </ul>
                                <div class="text-center" style="padding: 6px 14px;">&nbsp;</div>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- Modal -->
        <div id="custom-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Add New</h4>
            <div class="custom-modal-text text-left">
                <form role="form" id="newActvity" method="post">
                    <div class="form-group">
                        <label for="taskName">Task Name</label>
                        <textarea id="taskName" name="taskName" class="form-control"  placeholder="" row='5' required></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="priority">Priority</label>
                                <select class="form-control" name="priority" id="priority" required>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" name="status" id="status" required>
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Task Detail</label>
                                <textarea class="form-control" name="description" id="description" rows="5" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <input type="text" class="form-control" name="startDate" id="startDate" placeholder="Task start date" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="endDate">Due Date</label>
                                <input type="text" class="form-control" name="endDate" id="endDate" placeholder="Task end date" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light m-l-5">Cancel</button>
                </form>
            </div>
        </div>
        <%- include('partials/foot_right')%>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <%- include('partials/noitification')%>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->
<%- include('partials/foot') %>

<!-- Datatables-->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/pages/datatables.init.js"></script>

<!-- Modal-Effect -->
<script src="/assets/plugins/custombox/dist/custombox.min.js"></script>
<script src="/assets/plugins/custombox/dist/legacy.min.js"></script>
<!-- end chat -->
<!-- SOCKET CONNECTION -->
<script src="/javascripts/basic_tm.js"></script>
<script>
    var user_id = '<%= user_id %>';
    var user_fullname = '<%= user_fullname %>';
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
    } );

    $("#startDate").flatpickr({
        dateFormat: "Y-m-d",
        minDate: "today"
    });

    $("#endDate").flatpickr({
        dateFormat: "Y-m-d",
        minDate: "today"
    });
</script>

<script type="text/javascript">
    $('#newActvity').on('submit', function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        
        var data_obj = {
            taskName: $('#taskName').val(),
            priority: $('#priority').val(),
            status: $('#status').val(),
            description: $('#description').val(),
            startDate: $('#startDate').val(),
            endDate: $('#endDate').val(),
            created_by:user_id
        }
        
        socket.emit('activty_entry', {data_obj}, function(response){
            if(response.response.status){
                var design = '          <li>';
                    design += '            <div class="card-box kanban-box">';
                    design += '                <div class="checkbox-wrapper">';
                    design += '                    <div class="checkbox checkbox-success checkbox-single">';
                    design += '                        <input type="checkbox" id="singleCheckbox2" value="option2" aria-label="Single checkbox Two">';
                    design += '                        <label></label>';
                    design += '                    </div>';
                    design += '                </div>';
                    design += '                <div class="kanban-detail">';
                    design += '                     <h4><a href="">'+$('#taskName').val()+'</a> </h4>';
                    design += '                     <ul class="list-inline m-b-0">';
                    design += '                     </ul>';
                    design += '                 </div>';
                    design += '             </div>';
                    design += '         </li>';
                    $("#upcomingDiv").append(design);
                    $('.close').trigger('click');
            }else{
                toastr["error"]("Something wrong!!");
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-top-right"
                };
            }
        });
    });
</script>


